* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    float: right;
    background-color: lightskyblue;
    width: 75%;
    height: 50px;
}

.img-1 {
    float: left;
    width: 25%;
    height: 475px;
}

.txt-1 {
    float: right;
    background-color: pink;
    width: 75%;
    height: 425px;
}

.footer-left {
    float: left;
    background-color: blanchedalmond;
    width: 75%;
    height: 50px;
}

.footer-right {
    float: right;
    width: 25%;
    height: 50px;
}

p {
    padding: 5px 0;
}

.txt-1 p {
    position: relative;
    top: 175px;
}

